flows (3).json
[
    {
        "id": "8fdefc532998433d",
        "type": "tab",
        "label": "Audio",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0ba3270847dd178",
        "type": "telegram receiver",
        "z": "8fdefc532998433d",
        "name": "",
        "bot": "ef942e0e068eb542",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "7049671b1b803d52",
                "696dfeec1ca967d5"
            ],
            []
        ]
    },
    {
        "id": "42d572f4cfa05090",
        "type": "telegram sender",
        "z": "8fdefc532998433d",
        "name": "",
        "bot": "ef942e0e068eb542",
        "haserroroutput": false,
        "outputs": 1,
        "x": 910,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "696dfeec1ca967d5",
        "type": "function",
        "z": "8fdefc532998433d",
        "name": "function 1",
        "func": "msg.params = {\n    \"session_id\":msg.payload.chatId\n}\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "68f46e45be222cf0",
                "ba9e2936f261b1f1"
            ]
        ]
    },
    {
        "id": "3d23213bb6e9d308",
        "type": "function",
        "z": "8fdefc532998433d",
        "name": "function 2",
        "func": "msg.payload = {\n    'content': msg.payload,\n    'chatId':msg.params.session_id,\n    'type': \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [
            [
                "42d572f4cfa05090",
                "e939261c6bc1431b"
            ]
        ]
    },
    {
        "id": "68f46e45be222cf0",
        "type": "watson-speech-to-text",
        "z": "8fdefc532998433d",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "o83gLWphJNERBTsywUcrHRMQdYZHG4Tv330RBZrNrbWe",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/536c08a5-a582-4cc9-b036-cefbbb5d6283",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "3d23213bb6e9d308",
                "48da30beaa7185b0"
            ]
        ]
    },
    {
        "id": "7049671b1b803d52",
        "type": "debug",
        "z": "8fdefc532998433d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "ba9e2936f261b1f1",
        "type": "debug",
        "z": "8fdefc532998433d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "48da30beaa7185b0",
        "type": "debug",
        "z": "8fdefc532998433d",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "e939261c6bc1431b",
        "type": "debug",
        "z": "8fdefc532998433d",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "ef942e0e068eb542",
        "type": "telegram bot",
        "botname": "Tokito_salve_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]