CHAT_BOT/flows (1).json
[
    {
        "id": "1d29dc2e0d429342",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3865cf9e11ec452",
        "type": "telegram receiver",
        "z": "1d29dc2e0d429342",
        "name": "",
        "bot": "ef942e0e068eb542",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "bc8b6b256a1da987",
                "ba0b02a9975e46ae"
            ],
            []
        ]
    },
    {
        "id": "7fbe589bcfe983ef",
        "type": "telegram sender",
        "z": "1d29dc2e0d429342",
        "name": "",
        "bot": "ef942e0e068eb542",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bc8b6b256a1da987",
        "type": "function",
        "z": "1d29dc2e0d429342",
        "name": "ProcIn",
        "func": "msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 320,
        "wires": [
            [
                "7c395e78065217fc",
                "dda43e592a9ca6a2"
            ]
        ]
    },
    {
        "id": "16ac8375bafd4d24",
        "type": "function",
        "z": "1d29dc2e0d429342",
        "name": "ProcOut",
        "func": "msg.payload = {\n    'content':msg.payload.output.generic[0].text,\n    'chatId':msg.params.session_id,\n    'type':\"message\",\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "7fbe589bcfe983ef",
                "bbf267a9d1d2b995"
            ]
        ]
    },
    {
        "id": "ba0b02a9975e46ae",
        "type": "debug",
        "z": "1d29dc2e0d429342",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "7c395e78065217fc",
        "type": "debug",
        "z": "1d29dc2e0d429342",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "4213ced3f8220daf",
        "type": "debug",
        "z": "1d29dc2e0d429342",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "bbf267a9d1d2b995",
        "type": "debug",
        "z": "1d29dc2e0d429342",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "dda43e592a9ca6a2",
        "type": "watson-assistant-v2",
        "z": "1d29dc2e0d429342",
        "name": "",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/ba6ee12d-5be6-424f-b9cc-0dac6b5de788",
        "assistant_id": "31086982-725f-48b8-9a45-b84e409c5fb9",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "16ac8375bafd4d24"
            ]
        ]
    },
    {
        "id": "ef942e0e068eb542",
        "type": "telegram bot",
        "botname": "Tokito_salve_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]
